
.myleftLayout {
      width:100%;
}

.myleftLayout > * {
    width: 100%
}

.myform-radio-grp {
    padding-bottom:10px;
    display: inline-flex;
    flex-direction: column;
}

.myform-option-grp {
    padding-top: 10px;
}